.idea/
.env
scientilla/
docker/web/config/scientilla.js
docker/web/config/customizations.js
docker/web/config/local.js

docker/web/installer/uploads/*
!docker/web/installer/uploads/.gitkeep

docker/web/backups/*
!docker/web/backups/.gitkeep
!docker/web/backups/plain
docker/web/backups/plain/*
!docker/web/backups/plain/.gitkeep

docker/db/data/*