.idea/
.env
scientilla/
docker/db/database_structure.sql
docker/web/scientilla.js
docker/db-test/logs
!docker/db-test/.gitkeep

backups/*
!backups/.gitkeep
!backups/plain
backups/plain/*
!backups/plain/.gitkeep
