.idea/
.env
scientilla/
docker/web/config/*
!docker/web/config/.gitkeep

docker/web/metrics/*
!docker/web/metrics/.gitkeep

docker/web/logs/*
!docker/web/logs/.gitkeep

docker/web/installer/uploads/*
!docker/web/installer/uploads/.gitkeep

docker/web/backups/*
!docker/web/backups/.gitkeep

docker/db/data

docker/db-test/*
!docker/db-test/.gitkeep